.detail-img{
    width:100%;
    height: 25vh;
    background-color: #BDBDBD;
}
section{
    width:100%;
    height: 65vh;
}
.title{
    width: 100%;
    height: 13vh;
    background-color: white;
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
}
.edit-char-name{
    display: flex;
    box-sizing: border-box;
    padding: 18px 0 17px 24px;
}
.edit-char-name h3{
    margin-right: 4px;
}
.product-menu{
    padding-left: 16px;
    padding-right: 16px;
    display: flex;
    align-items: center;
    height: 100%;
    width:100%;
    box-sizing: border-box;
}
.menu-btn{
    flex:1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width:100%;
}
.menu-btn span{
    height: 100%;
    width: 36.6vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.on{
    border-bottom: 2px solid #001178;
    font-weight: 500;
}
.description-box{
    position: absolute;
    box-sizing: border-box;
    width: 100%; 
    height: 47vh;
    /* background-color: #BDBDBD;  */
    padding: 20px 16px 24px 16px;
}
.descript-text>b{
    display: block;
    font-size: 16px;
    color:#2C2C2C;
    margin-bottom: 16px;
}
.descript-text>span{
    max-width: 91.1vw;
    height: 14.25vh;
    display: flex;
    flex-wrap: wrap;
    word-break: break-all;
    color: #616161;
    margin-bottom: 24px;
}

/*아래 메뉴*/
menu{
    display: flex;
    width:100%;
    height:6vh;
    justify-content: space-around;
    align-items: center;
    position:fixed;
    bottom:0;
    background-color: white;
}

