.input_box{
    box-sizing: border-box;
    width:91.11vw;
    position: relative;
    top: 13vh;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
span{
    margin-left: 8px;
    margin-bottom: 4px;
    color: #616161;
}
.input{
    box-sizing: border-box;
    width: 91.11vw;
    height: 7vh;
    border-radius: 8px;
    border:1px solid #E0E0E0;
    padding: 18px 20px; 
    outline: none;
    margin-top: 4px;
}
input:focus{
   border-color: black;
}
input::placeholder{
    color: #9E9E9E;
}
#find_id_pw{
    margin-top: 8px;
    float: right;
    font-size: 12px;
}
.input_custom{
    position: relative;
    display: flex;
    align-items: center;
}
input:focus{
   border-color: #2291F8;
}
.input_custom>input{
    height: 6.5vh;
    border: none; 
    outline: none;
    background-color: transparent;
} 
input+span{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 20px; 
}
#eye{
    background-image: url(../img/close_eye.svg);
}
