.input_box{
    box-sizing: border-box;
    width:91.11vw;
    position: relative;
    top: 11.42vh;
    display: flex;
    flex-direction: column;
    row-gap: 16px;
}
span{
    margin-left: 8px;
    margin-bottom: 4px;
    color: #9E9E9E;
}
.input_custom{
    box-sizing: border-box;
    width: 91.11vw;
    height: 7vh;
    border-radius: 8px;
    border:1px solid #E0E0E0;
    position: relative;
    display: flex;
    align-items: center;
    margin-top: 4px;
}
input{
    box-sizing: border-box;
    width: 70.11vw;
    height: 7vh;
    outline: none;
    position: absolute;
    padding: 21px 0 21px 20px; 
    background-color: transparent;
    border:none;
}
input::placeholder{
    color: #9E9E9E;
}
input+span{
    box-sizing: border-box;
    position: absolute;
    right: 0;
    margin: 0;
    margin-right: 20px;
}
button{
    border: 0;
    position: absolute;
    right: 0;
    margin-right: 20px;
    background-color: transparent;
    color: #7B4DFF;
}
#find_id_pw{
    box-sizing: border-box;
    margin-top: 8px;
    float: right;
    font-size: 12px;
}
#timer{
    color: #7B4DFF;
}
.input_div:nth-child(2) span:nth-child(3) {
    margin-top: 8px;
    float: right;
    font-size: var(--content-font-size);
}