main{
    /* width: 100%; */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-weight: var(--body-font-weight);
}
.title_box{
    box-sizing: border-box;
    width:100%;
    height: 23vh;
    margin-top: 16.25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#logo{
    box-sizing: border-box;
    width: 69.44vw;
    height: 15vh;
    background-color: #BDBDBD;
}
#title{
    margin-top: 2.375vh; 
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}
#subtitle{
    margin-top: 1.375vh;
    font-size: var(--subtitle-font-size);
    font-weight: var(--subtitle-font-weight);
}

