#wrap {
  width: 100%;
  height: 100%;
}
.tabbar {
  display: flex;
  justify-content: space-between;
}
main {
  position: relative;
  height: 82.73vh;
  background-color: var(--background-color);
  overflow-y: scroll;
  padding: 16px;
  top: 9vh;
}
section {
  box-sizing: border-box;
  width: 91.1vw;
  height: 29.25vh;
  display: flex;
  flex-direction: column;
  row-gap: 12px;
}
.steps {
  box-shadow: 0px 2px 16px 0px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  margin-bottom: 10px;
}

.steps_count_title {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* height: 8.87vh; */
  row-gap: 8px;
}
.steps_count_title img {
  width: 180px;
  margin-bottom: 10px;
}
h1,
h2 {
  top: 0;
}
/*practice*/
.process {
  height: 26.5vh;
}
/*article*/
.article_container {
  margin-top: 16px;
}
.article_box {
  position: relative;
  box-sizing: border-box;
  width: 100%;
  height: 90px;
  overflow-x: scroll;
  display: flex;
  margin-top: 12px;
}
.article_slider {
  display: flex;
  column-gap: 3px;
  width: fit-content;
  height: 90px;
}
.article_box::-webkit-scrollbar {
  display: none;
}
.article {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  height: 10vh;
  width: 328px;
  height: 80px;
  border: none;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 12px;
  row-gap: 8px;
}

.article div {
  font-size: 16px;
  font-weight: bold;
  font-style: italic;
  color: #2c2c2c;
}
.article span {
  font-size: 14px;
  font-weight: 200;
  color: #616161;
}

.char_sliders {
  position: relative;
  box-sizing: border-box;
  overflow-x: scroll;
  width: 104%;
}

.char_sliders ul {
  display: flex;
  width: fit-content;
  flex-direction: row;
  column-gap: 8px;
}
li {
  list-style-type: none;
}
.char_sliders::-webkit-scrollbar {
  display: none;
}
/*events*/
.event {
  box-sizing: border-box;
  width: 100%;
  height: 12.5vh;
  background-color: white;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.12);
  border-radius: 8px;
  padding: 12px 16px 16px 16px;
}
.event > h3 + span {
  margin-top: 19px;
  float: left;
}
.event > h3 + span + span {
  margin-top: 19px;
  float: right;
}

/*캐릭터*/
.character_div {
  box-sizing: border-box;
  width: 40vw;
  height: 22.6vh;
  border: none;
  border-radius: 8px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.character_div img {
  width: 33vw;
  height: 15vh;
  margin-bottom: 12px;
}
.character_div div {
  font-size: 12px;
  color: #616161;
  margin-bottom: 4px;
}
.character_div span {
  font-size: 16px;
  font-weight: 500;
  color: black;
}
/*아래 메뉴*/
menu {
  display: flex;
  width: 100%;
  height: 6vh;
  justify-content: space-around;
  align-items: center;
  position: fixed;
  bottom: 0;
  box-shadow: 0px -4px 16px 0px rgba(0, 0, 0, 0.08);
}
/* menu img{
    width: 
} */
